<tr class="swatch-row" data-robe-id="{{ robe.id }}" onclick="toggleRobeDetails(this)">
    <td><span class="model-name">{{ robe.nom_modele }}</span></td>
    
    {% if show_client %}
    <td><span class="client-name">{{ robe.client }}</span></td>
    {% endif %}
    
    <td><span class="client-name">{{ robe.date_livraison|date:"d/m/Y" }}</span></td>
    <td>
        {% if robe.jours_restants < 0 %}
            <span class="tag tag--done">Livrée</span>
        {% elif robe.jours_restants <= 14 %}
            <span class="tag tag--urgent">{{ robe.jours_restants }} jours</span>
        {% elif robe.jours_restants <= 30 %}
            <span class="tag tag--soon">{{ robe.jours_restants }} jours</span>
        {% else %}
            <span class="tag tag--ok">{{ robe.jours_restants }} jours</span>
        {% endif %}
    </td>
    <td>
        <div class="tape-row">
            <div class="tape">
                <div class="tape-fill progress-bar" data-progress="{{ robe.progression }}"></div>
            </div>
            <span class="tape-pct">{{ robe.progression }}%</span>
        </div>
    </td>
    <td><span class="price-cell">{{ robe.prix_total }} <span class="currency-symbol">{{ robe.symbole_devise }}</span></span></td>
</tr>